<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        window._AMapSecurityConfig = {
            securityJsCode:'b7f2600c16d5a3e5176e9e8b36d9be87',
        }
    </script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.15&key=878a3283bfe6d923f4da93307828bb63"></script>
    <title>Document</title>
</head>
<body>
    <div id="map"></div>
</body>
</html>